 <div class="row">
  <hr>
  <div class="small-7 columns">
    <ul class="inline-list secondary">
      <li><a href="https://media.giphy.com/media/usCR3FxbgRKve/giphy.gif">Trojan Horses</a></li>
    </ul>
  </div>
  <div class="small-5 columns">
   <ul class="inline-list secondary right">
    <li>Built with love at <a href="http://hackinout.co" style="display:inline;">HackInOut 2018</a></li>
  </ul>
</div>
</div>
</body>
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script type="text/javascript" src="/static/bower_components/foundation/js/foundation/foundation.alert.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/js/webcam.js"></script>