{% include "header.html" %}

<div class="row text-center">
  <img id="bg" src="/video_viewer_qr" width="50%">
  <form id="post-form" action="/preparation_vote_2">
  <img src="/static/images/qr_gen.png" width = "30%">
      <br>
          <br>
  <input id="post" type="submit" id value="Move Ahead" class="button">
  </form>
</div>
<div class="row text-center">
<h2>Hold Up Your QR Code in front of the WebCam. Refresh to Try Again</h2>
</div>
<body>

<!-- 
<script type="text/javascript" src="/static/js/vote.js"></script> -->
{% include "footer.html" %}