{% include "header.html" %}

<div class="row">
  <div class="small-8 columns">
    <img id="bg" src="/video_viewer_qr" width="100%">
  </div>
  <div class="small-4 columns text-right">
  <form id="post-form" action="/preparation_vote_2">
    <div class="small-4 columns">
      <input id="post" type="submit" id value="Send Registeration Request" class="button tiny nm fullwidth">
    </div>
  </form>
  </div>
</div>
<div class="row text-center">
<h2>Hold Up Your QR Code in front of the WebCam. Refresh to Try Again</h2>
</div>
<body>

<!-- 
<script type="text/javascript" src="/static/js/vote.js"></script> -->
{% include "footer.html" %}