{% include "header.html" %}

<div class="row">
  <div class="small-8 columns">
    <img id="bg" src="/video_viewer_face" width="100%">
  </div>
  <div class="small-4 columns text-right">
  <form id="post-form" action="/complete_vote">
    <h3> <b>Name</b> : {{ name }}</h3>
    <h3> <b>Aadhar</b> : {{ ids }}</h3>
    <h3> <b>Constituency</b> : {{ constituency }}</h3>
    <h2>Please Vote - </h2>
    <h1>Jai Modi</h1>
    <div class="small-4 columns">
      <input id="post" type="submit" id value="Vote" class="button tiny nm fullwidth">
    </div>
  </form>
  </div>
</div>
<div class="row text-center">
<h2>Once Detected, Go Ahead And Vote For Your Candidate.</h2>
</div>
<body>

<!-- 
<script type="text/javascript" src="/static/js/vote.js"></script> -->
{% include "footer.html" %}