{% include "header.html" %}

<div class="row">
  <div class="small-8 columns">
    <img id="bg" src="/video_viewer_face" width="100%">
  </div>
  <div class="small-4 columns text-right">
  <form id="post-form" action="/complete_vote">
    <h3> <b>Name</b> : {{ name }}</h3>
    <h3> <b>Aadhar</b> : {{ ids }}</h3>
    <h3> <b>Constituency</b> : {{ constituency }}</h3>
    <h2>Your Candidates - </h3>
    <div class="small-5 small-offset-7 columns s-ws-top text-center" style="display: inline-block;">
      <div>
          <b>Narendra Modi</b>
          <img width = 80 id="photo" src="static/images/modi.jpg" class="circle-img">
          </div>
          <div>
          <b>Arvind Kejriwal</b>
          <img width = 80 id="photo" src="static/images/kejriwal.jpg" class="circle-img">
          </div>
          <div>
          <b>Rahul Gandhi</b>
          <img width = 80 id="photo" src="static/images/rahul.jpeg" class="circle-img">
      </div>
    </div>
    
  </form>
  </div>
  <div class="row text-center">
      <input id="post" type="submit" id value="Proceed" class="button fullwidth">
    </div>
</div>
<div class="row text-center">
</div>
<body>

<!-- 
<script type="text/javascript" src="/static/js/vote.js"></script> -->
{% include "footer.html" %}